body {
  font-family: "Amatic SC", sans-serif;
  padding: 0;
  background-color: black;
  color: white;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", sans-serif;
  color: black;
}

.menu {
  display: none
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./acces/pizzaaa.jpg");
  min-height: 90%;
}


section {
  height: 70%;
  padding: 2em;
  margin: 2em 0;
  background-color: white;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #0F2C59;
  color: #fff;
  padding: 1em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}



a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.page-content {
  flex-direction: column;
}


.content,
.content-header {
  flex-direction: column;
  align-items: stretch;
}

.etlap-content {
  display: flex;
  flex-direction: column;
  border: 0px solid black;
  padding: 10px;
  background-color: #333;
  color: #fff;
  height: auto;
}

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}


.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  overflow-y: auto;
  width: 90%;
  height: 90%;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}




.fooldal {
  background-color: #333;
  color: #fff;
  padding: 2em;
  margin: 2em 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}


.containers {
  position: relative;
}


.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.column {
  float: left;
  width: 16.66%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
  }
}

.etlap-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.etlap-grid .flex {
  height: 100%;
}

@media (max-width: 768px) {
  .etlap-grid .flex {
    height: auto;
  }
}

.orderhistory {
  background-color: #333;
  color: #fff;
  padding: 2em;
  margin: 2em 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  display: flex;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;

}

.fa-facebook {
  background: #3B5998;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.fa-instagram {
  background: #125688;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}